/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    background:#d1fee9;
    color: #FFF;
 }
 .header {
    background:url('../img/bg.png');
 }
 body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set you're content font stack here: */
    font-family: 'Open Sans', sans-serif;
}
 a {
    color:#FFF; text-decoration: none;
 }
 a:hover {
    color:#000;
 }
 h2 {
    
 }
 .centered {
    text-align: center;
 }
.box {
    padding:1em;
}
.circle {
    

}
.about, .aboutmore {
    color:#FFF;
    text-shadow:1px 1px #666;
    margin:0.5em 2em;
}
.aboutmore {
    font-size: 1.3em;
}
.skillset {
    
    

}
.skillset h2 {
    font-weight: bold;
    color:#174d65;
}
.skillset p {
    line-height: 2.5em; 
}
.skillset abbr {
    background: #174d65;
    padding:0.3em 1em;
    color:#FFF;
    text-transform: uppercase;

}
.contact {
     background: #484949;
     padding:0 0 2em 0;

}

/*
 * -- TABLET MEDIA QUERIES --
 */
@media(max-width: 767px) {



}

/*
 * -- PHONE MEDIA QUERIES --
 */
@media (max-width: 480px) {

}
